.profile__text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0;
  padding-top: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}

@media screen and (max-width: 425px) {
  .profile__text {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
