.header__link {
  text-decoration: none;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  padding-left: 24px;
}
.header__link:hover {
  color: rgba(169, 169, 169, 1);
}