.elements__like-button {
  border: 0;
  background: 0;
  width: 21px;
  height: 19px;
  /* margin: 31px 22px 30px 0; */
  background-image: url(../../../images/likeButton.svg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: .3s;
}

.elements__like-button:active {
  outline: 0;
  background-image: url(../../../images/likeButtonActive.svg);
}

.elements__like-button:hover {
  opacity: .5;
}

.elements__like-button:focus {
  outline: 0;
}
